@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

body {
  background-color: #ffa07a;
  font-family: Helvetica, sans-serif;
}


h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 10px;
}

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 10px;
}

.black {
  color:black
}

.form:focus-within {
  color: white
}

.form {
  color: white
}

td {
  border: 1px solid black;
  padding: 0.5rem;
}

th {
  border: 1px solid black;
  padding: 0.5rem;
}